<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/campgrounds"> Campgrounds </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/campgrounds/new"> New campground </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <% if(!currentUser) { %>
                <li class="nav-item"> <a class="nav-link" href="/login"> Login </a> </li>
                <li class="nav-item"> <a class="nav-link" href="/register"> Register </a> </li>
                <% } else {  %>
                <li class="nav-item"> <a class="nav-link" href="/logout"> Logout </a> </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>